.hidden {
	display: none;
}

nav {
	height: 58px;
	width: 100%;
	overflow: auto;
	position: fixed;
	z-index: 1;
}

nav ul {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	text-align: center;
}

nav li { 
	list-style-type: none;
    display: inline-block;
	margin-right: 16px;
}

nav li a {
	font-weight: bold;
	font-family: Raleway;
	text-decoration: none;
	color: white;
	text-shadow: -3px -1px grey;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


video{
	min-width: 100%;
	min-height: 100%;
	opacity: 0.4;
	filter: alpha(opacity=40);
	bacground-size: cover;
	background url (./images/Walland.mp4) no-repeat;
	z-index: -1;
	position: fixed;
}

.hero {
	text-align: center;
	margin: -8px;
	padding-top: 71px;
}

.hero img {
	width: 754px;
}

.portfolio {
	margin: 68px auto 0;
	width: 960px;
	text-align: center;
}

.portfolio  h1 {
	color: white;
}

.portfolio a {
	display: inline-block;
	margin: 0 12px;
}

.portfolio h3 {
	text-align: left;
}

.portfolio h3 a {
	color: pink;
}

p.intro-text {
	display: none;
	width: 628px;
	text-align: center;
	color: white;
	font-family: raleway;
	padding: 0px 228px;
	text-shadow: -3px -1px grey;
	background-color: grey;
	opacity: 0.9;
	filter: alpha(opacity=90);
	margin: 120px auto;
}

.about img {
	width: 100%;
}

.contact{
	width: 100%;
	text-align:center;
	font-family: raleway;
	font-weight: bold;
	text-shadow: -3px -1px grey;
	color: white;
	background-color: grey;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.contact ul {
	margin: 0;
}

.contact li{
	text-decoration:none;
	list-style-type: none;
}